# frontend_angular_v1/src/environments/environment.prod.ts
# frontend_angular_v1/src/environments/environment.prod.ts
# frontend_angular_v1/src/environments/environment.prod.ts

**/node_modules
**/environment.prod.ts
**/environment.ts
**/config.env