<app-navbar [isLoggedIn]='false'></app-navbar>
<div class='d-flex flex-column min-vh-100 min-vw-100'>
    <div class='d-flex flex-grow-1 justify-content-center align-items-center'>
        <div align='center' class='card col-8 m-5 p-5'>
            <div class='card-body' *ngIf='quiz'>
                <div class='card-action' *ngFor='let item of quiz.slice(currentIndex,currentIndex+1); let i = index'>
                    <h4 class='d-flex justify-content-center text-start'>{{ currentIndex+1 }}. {{ item.question }}</h4><br><br>

                    <mat-form-field appearance='outline'>
                        <mat-label>Select any one option</mat-label>
                        <mat-selection-list [formControl]='quizForm' required [multiple]='false'>
                            <mat-list-option [value]='item.optionA'>{{item.optionA}}</mat-list-option>
                            <mat-list-option [value]='item.optionB'>{{item.optionB}}</mat-list-option>
                            <mat-list-option [value]='item.optionC'>{{item.optionC}}</mat-list-option>
                            <mat-list-option [value]='item.optionD'>{{item.optionD}}</mat-list-option>
                        </mat-selection-list>
                    </mat-form-field>

                    <div>option selected: {{quizForm.value}}</div>
                    <!-- current: {{currentIndex}} end: {{endIndex}} -->

                    <button class='btn btn-primary mx-1' type='submit' [disabled]='quizForm.pristine' (click)="onSubmit(quizForm.value)" *ngIf='currentIndex<endIndex-1'>Submit Answer & Proceed</button>
                    <button class='btn btn-primary mx-1' type='button' (click)='finishQuiz(quizForm.value)' *ngIf='currentIndex===endIndex-1'>Submit Answer & Finish Quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<form (ngSubmit)='onSubmit(quizForm)' #quizForm='ngForm'>
    <div class='card row' *ngIf='quiz'>
        <div class='col s8 offset-s2'>
            <div class='card blue-grey darken-1'>
                <div class='card-content white-text'>
                    <div class='card-action' *ngFor='let item of quiz.slice(currentIndex,currentIndex+1); let i = index' name='item'>
                        <h4>{{ i }}. {{ item.question }}</h4><br><br>
                            <mat-selection-list class='collection answer white blue-grey-text' #options [multiple]='false' name='selectedOption' ngModel #selectedOption='ngModel'>
                                check below for difference between options array and optionA-D
                                <mat-list-option class='blue-grey-text' value='{{opt}}' *ngFor='let opt of item.options'>{{opt}}</mat-list-option>
                                <span *ngIf='selectedOption.untouched'>* Please click one of the options</span>
                            </mat-selection-list>

                            <p>Option selected: {{options.selectedOptions.selected[0].value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <button type='button' (click)='currentIndex=currentIndex+1' *ngIf='currentIndex<endIndex' style='position:fixed;right:5%;top:50%;' mat-fab color='primary'><mat-icon>arrow_forward_ios</mat-icon></button>
        <button class='btn btn-primary right blue-grey-text' type='submit' [disabled]='quizForm.untouched' style='height:40px;position:fixed;right:50%;bottom:5%;'>Submit Answer</button>
        <button class='btn btn-primary right blue-grey-text' type='button' (click)='finishQuiz()' *ngIf='currentIndex==endIndex' style='height:40px;position:fixed;right:10%;bottom:5%;'>Finish Quiz</button>
</form>
-->
