<form (ngSubmit)="onSubmit(quizForm)" #quizForm="ngForm">
    <div class="row" *ngIf="quiz">
        <div class="col s8 offset-s2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <div class="card-action" *ngFor="let item of quiz.slice(currentIndex,currentIndex+1); let i = index" name="item">
                        <h4>{{ i }}. {{ item.question }}</h4><br><br>
                        <mat-selection-list class="collection answer white blue-grey-text" #options [multiple]="false" name="selectedOption" ngModel #selectedOption="ngModel">
                            <mat-list-option class="blue-grey-text" value="{{opt}}" *ngFor="let opt of item.options">{{opt}}</mat-list-option>
                            <span *ngIf="selectedOption.untouched">* Please click one of the options</span>
                        </mat-selection-list>
                        <p>Option selected: {{options.selectedOptions.selected[0]?.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<button type="button" (click)="currentIndex=currentIndex+1" *ngIf="currentIndex<endIndex" style="position:fixed;right:5%;top:50%;" mat-fab color="primary"><mat-icon>arrow_forward_ios</mat-icon></button>
<button class="right blue-grey-text" type="submit" [disabled]="quizForm.untouched" style="height:40px;position:fixed;right:50%;bottom:5%;">Submit Answer</button>
<button class="right blue-grey-text" type="button" (click)="finishQuiz()" *ngIf="currentIndex==endIndex" style="height:40px;position:fixed;right:10%;bottom:5%;">Finish Quiz</button>
</form>