<app-navbar [isLoggedIn]='false'></app-navbar>
<div class='d-flex flex-column min-vh-100 min-vw-100'>
    <div class='d-flex flex-grow-1 justify-content-center align-items-center'>
        <div align='center' class='card col-8 m-5 p-5'>
            <div class='card-body' *ngIf='quiz'>
                <div class='card-action' *ngFor='let item of quiz.slice(currentIndex,currentIndex+1); let i = index'>
                    <h4 class='d-flex justify-content-center text-start'>{{ currentIndex+1 }}. {{ item.question }}</h4><br><br>

                    <mat-form-field appearance='outline'>
                        <mat-label>Select any one option</mat-label>
                        <mat-selection-list [formControl]='quizForm' required [multiple]='false'>
                            <mat-list-option [value]='item.optionA'>{{item.optionA}}</mat-list-option>
                            <mat-list-option [value]='item.optionB'>{{item.optionB}}</mat-list-option>
                            <mat-list-option [value]='item.optionC'>{{item.optionC}}</mat-list-option>
                            <mat-list-option [value]='item.optionD'>{{item.optionD}}</mat-list-option>
                        </mat-selection-list>
                    </mat-form-field>

                    <div>option selected: {{quizForm.value}}</div>

                    <button class='btn btn-primary mx-1' type='submit' [disabled]='quizForm.pristine' (click)="onSubmit(quizForm.value)" *ngIf='currentIndex<endIndex-1'>Submit Answer & Proceed</button>
                    <button class='btn btn-primary mx-1' type='button' (click)='finishQuiz(quizForm.value)' *ngIf='currentIndex===endIndex-1'>Submit Answer & Finish Quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>