<form [formGroup]="inputFormGroup">
  <h1 mat-dialog-title class="text-center mb-3">Add/Edit {{mainTitle}}</h1>

  <mat-dialog-content class="mat-typography">
    <ng-container *ngFor="let title of formTitles; index as i">
      <div class="row mb-3 align-items-center justify-content-center">
        <ng-container *ngIf="title === 'ID'; else notId"></ng-container>
        <ng-template #notId>
          <div class="col-3">
            <label class="form-label">{{ title }}</label>
          </div>
        </ng-template>
        <div *ngIf="formControlNames[i] === 'id'; else others">
          <input class="form-control" hidden readonly [formControlName]="formControlNames[i]"  [placeholder]="formPlaceholders[i]"/>
        </div>
        <ng-template #others>
          <div class="col-8">
            <input class="form-control" [formControlName]="formControlNames[i]"  [placeholder]="formPlaceholders[i]"/>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-center">
    <button class="btn btn-link" mat-dialog-close>Cancel</button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!inputFormGroup.valid"
      [mat-dialog-close]="inputFormGroup.value"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>