<app-navbar [isLoggedIn]='false'></app-navbar>
<div class='d-flex flex-column min-vh-100 min-vw-100'>
    <div class='d-flex flex-grow-1 justify-content-center align-items-center'>
        <div align='center' class='card col-8 m-5 p-5'>
            <div class='card-body'>
                <div class='row' *ngFor='let item of quiz.slice(currentIndex,currentIndex+1)'>
                    <h4>{{currentIndex + 1}}. {{item.question}}</h4>
                    <p>Correct Answer: {{item.answer}}</p>
                    <div class='d-flex justify-content-between'>
                        <button type='button' class='btn btn-link me-auto' (click)='currentIndex=currentIndex-1' *ngIf='currentIndex>0'><mat-icon>arrow_back_ios_new</mat-icon></button>
                        <button type='button' class='btn btn-link ms-auto' (click)='currentIndex=currentIndex+1' *ngIf='currentIndex<endIndex-1'><mat-icon>arrow_forward_ios</mat-icon></button>
                    </div>
                </div>
                <div class='row' *ngFor='let item2 of answers.slice(currentIndex,currentIndex+1)'>
                    <p>Your Answer: {{ item2.selectedOption }}</p>
                    <p>Your answer is {{ item2.answerStatus }}</p>
                </div>

                <a class='btn btn-primary mx-1' type='button' href='/quiz'>Retake Quiz</a>
            </div>
        </div>
    </div>
</div>