<div class="container">
    <h3 class="text-center">List of Users</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of user; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td hidden>{{ u.id }}</td>
                <td>{{ u.fullname }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.password }}</td>
                <td>{{ u.isAdmin }}</td>
                <td>
                    <button class="btn btn-primary btn-sm mx-1" (click)="getUserById(u.id)">Edit</button>
                    <button class="btn btn-primary btn-sm mx-1" (click)="deleteUser(u.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    {{ u | json }}
    <h3 class="text-center" *ngIf="isAddMode">Add User</h3>
    <h3 class="text-center" *ngIf="!isAddMode">Update User</h3>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3 align-items-center">
            <div class="col-3">
                <label for="fullname" class="form-label">Full Name</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" formControlName="fullname" value={{ u.fullname }} /> 
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-3">
                <label for="email" class="form-label">Email</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" formControlName="email" value=""/> {{ u.email }}
                <span class="form-text">We'll never share your email with anyone else.</span>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-3">
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" formControlName="username" value=""/> {{u.username}}
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-3">
                <label for="password" class="form-label">Password</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" formControlName="password" value=""/> {{ u.password }}
                <span class="form-text">Must be 8-20 characters long.</span>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-3">
                <label for="isAdmin" class="form-check-label">Admin</label>
            </div>
            <div class="col-auto">
                <input type="checkbox" class="form-check-input" formControlName="isAdmin" /> {{ u.isAdmin }}
            </div>
        </div>
        <div class="row mb-3 justify-content-center">{{msg}}</div>
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
    </form>
</div>