<div class='m-2 p-2 d-flex justify-content-center'>
  <div class='card'>
    <h1 class='card-title text-center'>List of {{tableData.title}}</h1>

    <div class='d-flex justify-content-center'>
      <button
        type='button'
        class='btn btn-primary col-8'
        (click)='openAddTableDialog()'
      >
        Add
      </button>
    </div>

    <mat-form-field class='m-2'>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)='applyFilter($event)'
        placeholder='Enter search term'
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]='dataSource' class='m-2 p-2 mat-elevation-z8'>
      <div *ngFor='let column of columns' [matColumnDef]='column.key'>
        <th class='px-2' mat-header-cell *matHeaderCellDef>
          {{ column.label }}
        </th>
        <td class='px-2' mat-cell *matCellDef='let row; let i = index'>
          <ng-container [ngSwitch]='column.key'>
            <ng-container *ngSwitchCase="'index'">
              {{ i + 1 }}
            </ng-container>

            <ng-container *ngSwitchCase="'action'">
              <button
                class='btn btn-primary m-1'
                (click)='openEditDialog(row)'
              >
                Edit
              </button>
              <button
                class='btn btn-primary m-1'
                (click)='deleteSelected(row.id)'
              >
                Delete
              </button>
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ row[column.key] }}
            </ng-container>
          </ng-container>
        </td>
      </div>

      <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>
    </table>
  </div>
</div>
