<div class='d-flex flex-column min-vh-100 min-vw-100'>
    <div class='d-flex flex-grow-1 justify-content-center align-items-center'>
        <div align='center' class='card col-8 m-5 p-5'>
            <h1 class='card-title text-center'>Online Test Application</h1>
            <div class='card-body'>
                Welcome to the Online Test Application, where visitors can answer a quiz, view the result and review the quiz questions. Admin can add, update and delete quiz questions, post login.
            </div>
            <div class='text-center'>
                Click <a href='/user/enroll'>here</a> to enroll and proceed to quiz or <a href='/auth/login'>here</a> to login as admin
            </div>
        </div>
    </div>
</div>