<div class="row">
    <div class="col s6 offset-s3">
        <p class="white-text">Click <a class="white-text" href="https://zvdas.github.io"><strong><u>here</u></strong></a> to go to portfolio website</p>
        <div class="card">
            <div class="col s6">
                <h2>Quiz Registration</h2>
            </div>
            <div class="col s6">
                <img class="offset-s3" src="/assets/images/logo.png" style="width:250px;height:250px;">
            </div>
            <div class="card-content">
                <form [formGroup]="form" (ngSubmit)="onClickSubmit()">
                    <div class="row">
                        <div class="input-field col s12">
                            <mat-icon class="material-icons prefix">account_circle</mat-icon>
                            <input type="text" id="fullname" formControlName="fullname">
                            <label>Full Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <mat-icon class="material-icons prefix">mail_outline</mat-icon>
                            <input type="text" id="emailid" formControlName="emailid">
                            <label>Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <mat-icon class="material-icons prefix">mail_outline</mat-icon>
                            <input type="text" id="uname" formControlName="uname">
                            <label>Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <mat-icon class="material-icons prefix">mpassword</mat-icon>
                            <input type="text" id="pword" formControlName="pword">
                            <label>Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn-large btn-submit" type="submit" [disabled]="form.invalid" >Start Quiz</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>