<body>
    <div class="registerbox">
            <div class="card">
                <div class="quiztitle">
                    <h1>Quiz Registration</h1>
                </div>
                <img src="/assets/images/logo.png" style="width:250px;height:250px;position:absolute;left:500px;">
                <div class="card-content">
                    <form [formGroup]="form" (ngSubmit)="onClickSubmit()">
                        <div class="row">
                            <div class="input-field col s12">
                                <mat-icon class="material-icons prefix">account_circle</mat-icon>
                                <input type="text" id="fullname" formControlName="fullname">
                                <label>Full Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <mat-icon class="material-icons prefix">mail_outline</mat-icon>
                                <input type="text" id="emailid" formControlName="emailid">
                                <label>Email Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <mat-icon class="material-icons prefix">mail_outline</mat-icon>
                                <input type="text" id="uname" formControlName="uname">
                                <label>Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <mat-icon class="material-icons prefix">mpassword</mat-icon>
                                <input type="text" id="pword" formControlName="pword">
                                <label>Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn-large btn-submit" type="submit" [disabled]="form.invalid" >Start Quiz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>